h1 {
    font-family: 'Berkshire Swash', cursive;
}
h3 {
    font-family: 'Berkshire Swash', cursive;
}
ul {
    font-family: 'Sofia', cursive;
}
p {
    font-family: 'Sofia', cursive;
}
html {
    background-color:lightgray;
}
img {
    border:4px solid white;
}